APP_NAME=Prosperna-Exam
APP_ENV=local
APP_KEY=base64:WARJClD8EgyiVgfq1xsWzyTRlgf+jpFQNfgzypzbNmk=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=prosperna_exam
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=Ad4Ro9KRyfcR9igcb8WpOiTbrWaeu0-PHW49SZCw9Zx-lGRFvGl2ycDXWCKJBwbaeBz7nESbZ9BrpZqB
PAYPAL_SECRET=EBfjxZ2Ror6Zlyj8Xgy2N5HQ5hl88gpgGtin_PVbyZ7q7iqy1UQ3lDP3WYuxpWzPYjivIQ1esXBMSGVR

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
